/* blusish black #0d1321 */

* {
  margin: 0;
  padding: 0;
  order: 1;
  box-sizing: border-box;
}

nav {
  padding: 1rem;

  background-color: #0d1321 !important;
}

.navbar-burger {
  color: #0d1231;
}

.hero {
  background: url("Assests/boots-environment-flood-724656.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.about {
  color: #fff;
  background-color: #0d1321;
}

.model-half-photo-1,
.model-half-photo-2 {
  color: white;
  z-index: -1;
  height: 30rem;
  position: relative;
}

.model-half-photo-container {
  margin: 1rem !important;
}

.model-half-photo-1 {
  background: url("Assests/model.jpg");
  background-size: cover;
  margin-right: 0.7rem;
  width: 40%;
}

.form-bkg {
  background: url('Assests/form-background.jpg');
  background-size: cover;
}

.model-half-photo-2 {
  background: url("Assests/model_02.jpg");
  background-size: cover;
}

.bottom-right-text {
  position: absolute;
  bottom: 58px;
  right: 16px;
  z-index: 10;
}

.wide-model-photo-container {
  margin-top: 2rem;
  background: url("Assests/Model_03.jpg");
  background-position: 0 -230px;
  overflow: hidden;
  background-size: cover;
  color: white;
  z-index: -1;
  height: 20rem;
  position: relative;
}

.padding-left {
  padding-left: 5rem !important;
}

.padding-right {
  padding-right: 5rem !important;
}

.padding-top {
  padding-top: 5rem !important;
}

@media only screen and (max-width: 768px) {
  .padding-left {
    padding-left: 0 !important;
  }
  .padding-right {
    padding-right: 0 !important;
  }
  .padding-top {
    padding-top: 0 !important;
  }
  .last-position-on-mobile {
    order: 10 !important;
    background-color: blue;
  }
}
.slick img {
  height: 15rem !important;
}

/* FOOTER  */

footer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

footer * {
  color: black;
}

footer > div {
  padding: 0.5rem 0;
}

footer button {
  width: 10rem;
}

.footer-links {
  text-decoration: none;
  justify-content: space-evenly;
}

.footer-links a:link {
  color: black;
}

/* .about-text-container {
  width: 1rem;
} */
